<!DOCTYPE html>
<html>
    <body>
        <form method="POST" enctype="multipart/form-data", action="/upload_page">
            <input type="file" name="홍길동" /> </br></br>
            <input type="submit" value="보내기"/>
        </form>
    </body>
</html>